*{
    margin: 0;
    padding: 0;

    text-decoration: none;

}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;


    /*posicionamento dos itens*/

    display: flex;
    flex-direction: column;
    font-size: 14px;

}

/* COMEÇO DO HEADER */

.header-content{
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    padding-right: 20px;
    font-size: 13px;
    
}

.link{
    text-decoration: none;
    padding-left: 12px;
    color: #393939;
}

.link:hover{
    text-decoration:underline;
}

.btn{
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #1a73e8;
    color: #fff;
    text-decoration: none !important;
}

.btn:hover{
    background-color: #2467be;
}

svg{
    margin: 10px;
    fill: #5f6368;
    border-radius: 50%;
    padding: 8px;
    background-color: transparent;
    transition: 0.2s;
}

svg:hover{
    background-color: rgba(200, 200, 200, 0.3);
}


/* FIM DO HEADER */

.main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.main-content > img {
    margin-bottom: 40px;
}

.input-text{
    height: 40px;
    width: 20vw;
    margin-left: 40px;
    outline: none;
    border: transparent;
}

.input-search{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 32vw;
}

.input-search:hover{
    box-shadow: 1px 1px 10px #a6a9ac;
    transition: ease-in 0.1s;
}

.lupa{
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 8px;
}

.teclado{
    position: absolute;
    width: 23px;
    height: 23px;
    right: 0;
    margin-right: 45px;
}

.imagem{
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


.botoes{
    display: flex;
    color: #393939;
    margin: 20px;
       
}

.main-btn{
    margin: 10px 10px;
    padding: 10px;
    padding: 10px 25px;
    border-radius: 0%;
    margin-left: 10px;
    background-color: rgb(243, 240, 240);
 
}

.main-btn:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px #8b8a8a;
    transition: ease-in 0.1s;
}

.footer-content{
    height: 94px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: arial,sans-serif;
}

.fr-left-content{
    border-bottom: 1px solid #dadce0;
    width: 100vw;
    height: 50%;
    font-size: 15px;
    color: #70757a;
    display: flex;
    align-items: center;
}
.fr-left-content > span {
    padding: 0 30px;
}

.second-row{
    display: flex;
    justify-content: space-between;
    color: #70757a;
    width: 100vw;
    height: 50%;
    align-items: center;
}

.sr-left-content{
    justify-content:space-between;
    padding: 0 30px;
    justify-content: space-around;
    text-decoration: none;
}

.sr-left-content > a {
    margin-right: 30px;
}

.sr-left-content > a:visited {
    color: #70757a;
}

.sr-right-content{
    justify-content:space-between;
    padding: 0 30px;
    text-decoration: none;
}

.sr-right-content > a {
    margin-left: 30px;
}

.sr-right-content > a:visited {
    color: #70757a;
}



