*{
    margin: 0;
    padding: 0;
}
h1{
    display: inline;
    
}
body{
    color: #16161f;    
}

.header-top-nav{
    background-image: linear-gradient(180deg, #ccc, #fff, #ddd);
    display: block;
    width: 100vw;
    position: fixed;
    height: 183px;
}
.header-top-nav > h1 {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    padding: 40px;
    font-size: 36px;

}
.header-top-nav ul li, a {
    display: inline;
    margin: 0px 10px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding: 10px;
    text-decoration: none;
}
a:visited, a:link {
    color: #16161f;
}

.header-top-nav ul {
    text-align: center;
    padding-bottom: 30px;
}
.header-top-nav ul li:hover {
    background-color: #fff;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 5px 5px 15px #16161f;
    transition: ease-in 0.2s;
}

.main-content {
    height: calc(100vh - 183px);
    background-image: url('..//source/img/computador2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    padding-top: 183px;

}

.main-content-container-overlay {
    height: calc(100vh - 183px);
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    
}

.maincontent-container {
    display: inline-block;
    height: 100%;
    width: 100vw;
}

.img-main{
    margin-top: 10px;
    width: 500px;
    border-radius: 10px;
}

.img-main:hover {
    margin-top: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px #16161f;
    transition: ease-in 0.2s;
   
}

.container {
    display: block;
    text-align: center;
}

.article-content {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.article-content p {
    margin: 10px auto;
    text-align: justify;
    width: 500px;
    font-family: 'Montserrat';
    font-weight: 300;
    height: 300px;
    font-size: 16px;
    overflow-y: scroll;
}

figure {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    width: 40vw;
        
}

.left-content{
    display: block;
    width: 20vw;
    height: 100%;
    /* background-color: rgb(247, 146, 74); */
    float: left;
    text-align: center;
    
}

.right-content{
    display: inline-block;
    width: 80vw;
    height: calc(100vh - 183px);
    /* background-color: rgb(179, 61, 85); */
}

ul{
    list-style: none;
}

h2{
    font-family: 'Montserrat';
    margin-top: 10px;
    font-style: italic;
}

.middle-content {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 16px;
}

.box-content{
    display: block;
    justify-content: center;
    width: 250px;
    height: 550px;
    text-align: center;
    margin: 40px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.9);
    font-family: 'Roboto', sans-serif;
    
}

.gradient{
    background-image: linear-gradient(45deg, rgba(216, 23, 23, 0.74), rgb(18, 176, 204), rgb(228, 194, 5));
    /* background-image: url('../source/img/bc8.jpeg'); */
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}

.downleft-content{
    background-color: chocolate;
    background-image: url(../source/img/iicons.jpg);
    background-size: cover;
}

.downcenter-content{
    background-color: coral;
    background-image: url(../source/img/iicons.jpg);
    background-size: cover;
}

.downright-content{
    background-color: darkorange;
    background-image: url(../source/img/iicons.jpg);
    background-size: cover;    
}

/* .image-middle-content {
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 0 auto;
} */

.sidebar ul{
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat';
}

.sidebar li:hover{
    background-color: #fff;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 5px 5px 15px #16161f;
    transition: ease-in 0.2s;
}


@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}