*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    height: 920px;
    border: 3px solid crimson;

    /*TRABALHANDO O ALINHAMENTO DOS ITENS*/
    display: flex;
    align-items: center; /*EIXO Y*/
    /*justify-content: center; EIXO X*/
    /*justify-content: space-between; ELEMENTO NAS BORDAS*/
    /*justify-content: space-evenly; IGUALMENTE DISTRUBUÍDO*/
    justify-content: space-around; /*COLOCA UM ESPAÇO MAIOR ENTRE OS ITENS*/
}

.inside-content{
    width: 200px;
    height: 200px;
    border: 3px solid steelblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*flex-direction: column; DISPÕE EM COLUNAS*/

}

.child-inside{
    width: 50px;
    height: 50px;
    border: 3px solid greenyellow;
}

.bisa{
    display: flex;
    justify-content: center;
    height: 100vh;
    justify-content: center;
}